/* Basic Frutiger Aero inspired skin */

* { font-family: sans-serif; }

h1
{
	background: linear-gradient(to bottom, #636668 0%, #464646 50%, #343434 53%, #000000 100%);
	color: white;
}

body
{
	height: 100%;
	background: radial-gradient(circle at bottom, #E0E0E0, #9090C0);
}

.panel-box
{
	margin: 5px;
	border-radius: 5px;
	border: 5px solid transparent;
	box-shadow: #303030 2px 2px 8px;
	background-color: #505050;
	color: white;
}

.inset-box
{
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
	background-color: #DDD;
	color: black;
	box-shadow: #303030 0px 0px 8px inset;
}

button, input[type=button], input[type=submit], input[type=text], select
{
	border-radius: 5px;
	border: 1px solid #404040;
	padding: 5px;
}

input:focus { outline: none; }

input[type=text]
{
	box-shadow: #808080 0px 0px 4px inset;
}

input[type=text]:focus
{
	box-shadow: #808080 0px 0px 4px inset, #C0C0FF 0px 0px 8px;
}

button,
input[type=button],
input[type=submit],
select
{
	background: linear-gradient(to bottom, #636668 0%, #464646 50.52%, #343434 53.12%, #000000 100%);
	color: white;
}

button:active,
input[type=button]:active,
input[type=submit]:active,
select:active
{
	background: linear-gradient(to top, #636668 0%, #464646 50.52%, #343434 53.12%, #000000 100%);
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
select:hover
{
	box-shadow: #C0C0FF 0px 0px 8px;
}
